<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        verbose="false">
    <testsuites>
        <testsuite name="Solital Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <php>
            <server name="REQUEST_METHOD" value="GET"/>
        </php>
    </filter>
</phpunit>